html{
  scroll-behavior: smooth;
}
* {
  margin: 0%;
  padding: 0%;
}
a {
  text-decoration: none;
}

.fontFamily1 {
  font-family: "Rubik Dirt", cursive;
}
.fontFamily2 {
  font-family: "Oleo Script Swash Caps", cursive;
}
.fontFamily3 {
  font-family: "Mouse Memoirs", sans-serif;
}
.size-1 {
  font-size: 1rem;
}
.size-1_5 {
  font-size: 1.5rem;
}
.size-2 {
  font-size: 2rem;
}
.size-3 {
  font-size: 3rem;
}
.size-4 {
  font-size: 4rem;
}
.size-6 {
  font-size: 6rem;
}
.size-7 {
  font-size: 7rem;
}
.shadow {
  text-shadow: 4px 4px 10px black;
}
.underline {
  text-decoration: underline;
}
.card > img{
width: 100%;
height: 100%;
}
.nav {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("resource/images/anime4.jpg");
    background-size: cover ;
    
    
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  color: white;
}
.nav > .imgText {
  position: relative;
  text-align: center;
  top: 30%;
}
.nav > .navbar {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > .navbar > div.buttonSection {
  display: inline-block;
  background-color: transparent;
  width: 30%;
  padding-left: 1rem;
}
.nav > .navbar > div.buttonSection > button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
}

.nav > .navbar > a#navIcon {
  display: inline-block;
  color: white;
}
@media only screen and (max-width: 815px) {
  .nav > .navbar > .links > a{
    display: none;
  }
  
  .nav > .navbar > .links > .dropdown{
    display: inline-block !important;
    position: relative;
    background-color: transparent;
    border: none;
    margin: 0rem 1rem;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  .nav > .navbar > .links > .dropdown > .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.623);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block !important;
  }
}
.nav > .navbar > .links {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.nav > .navbar > .links > .dropdown{
  display: none;
}


.nav > .navbar > .links > a {
  margin: 0 0.5em;
  color: white;
}
@media only screen and (max-width: 509px){
  .section {
    margin: 5rem 8rem !important;
  } 
  .section > h1{
    text-align: center;
  }
}
.section {
  margin: 5rem 13rem;
  height: fit-content;
}
.section > .card-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section > .card-section > .card {
  display: flex;
  width: 12rem;
  height: 17rem;
  aspect-ratio:12 / 17;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1rem;
}
.footer {
  
  background: fixed linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
  url("resource/images/gracia-dharma-qTlbO6mkQH0-unsplash.jpg");
  background-size: contain;
  background-attachment: fixed;
}
.footer > div#formSection {
  color: white;
} 
form {
  width: 50%;
  margin: auto;
  /* padding: 1rem;  */
}
form > input[type="text"],
input[type="email"],
textarea,
input[type="button"] {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 0.3rem;
  border: 1px solid rgb(172, 169, 169);
  padding: 0.6rem 0.1rem;
  border-radius: 0.3rem;
}

#heading-footer {
  text-align: center;
}
.footer > #social{
  width: fit-content;
  margin: auto;
}
.footer > #social > img{
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  filter: invert(1);
  margin: 1rem 2rem;
  cursor: pointer;
}
.footer > #social > img:hover{
  height: 2.8rem;
  width: 2.8rem;
}
.footer > #copyright{
  color: aliceblue;
  text-align: center;
  margin-top: .3rem;
}

